<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm and Pay</title>
    <style>
        body{
            background-color: rgb(237, 91, 38, 0.2);
        }
        button{
            margin-left: 45%;
            height: 4rem;
            width: 8rem;
            background-color: aquamarine;
            border-radius: 5px;
        }
        button:hover{
            height: 4rem;
            width: 8rem;
            background-color: orangered;
            color: white;
        }
    </style>
</head>
<body>
        <h1 style="text-align: center; color:brown; font-family: cursive; font-size: 5rem;">Payment Successfull</h1>
        <h2 style="text-align: center; color:brown; font-family: cursive; font-size: 5rem;">Enjoy your travel with Yaatra.com </h2>
        <button onclick="window.location.href='/';">back to Home</button>
</body>
</html>